*{background-color: lightgoldenrodyellow;}
h1{background-color:#76323f;
    text-align: center;
    font-size:3rem;
    color:#0e0b16;
    font-family:"Playfair Dislpay", serif;
    font-weight: 400;
 }
 .image-container{
   text-align: center;
   image-orientation: center;
   
 }

 .section{
 color:firebrick;
 font-family:papyrus;
 visibility: 2px;
 }
 p{
    font-size:2rem;
    font-weight: 400;
    font-style: italic;
    color: slategray;
    text-decoration: wavy;
    text-align:left;
    font-family:"Fauna One",serif;
 }
 li{
 font-family:"Fauna One", serif;
 font-size: 2rem;
 color:#b82601
 }
 a{
 font-family:"Fauna One", serif;
 font-size: 16px;
 font-weight:900;
 color:tan;
 padding: 10px;
  text-decoration: none;
  background-color: #f7ede2 ;
  transition-duration: 0.4s;
  border: #f7ede2 solid 2px;
  border-radius: 2px;
 }
 a:hover{
  background-color: #f4d35e;
  color: white;
  border : white solid 2px;
  }
 .UpdateList{
 color:#ff3b3f;
 font-weight:bold
 }
 .NewUpdates{
 color:darkslateblue;

 }
 .Update62{
   color:darkred;
 }
 .Video{
  image-orientation: center;
  text-align: center;
 }
