*{background-color: skyblue;}
h1{background-color:whitesmoke;
    
    font-size:3rem;
    color:plum
 }

 .section{
 color:azure;
 font:papyrus;
 visibility: 2px;
 }
 p{
    font-size:4rem;
    font-weight: 900;
    font-style: italic;
    color: cadetblue;
 }