*{background-color: snow;}
h1{background-color:whitesmoke;
    text-align: center;
    font-size:3rem;
    color:plum;
    font-family:"Playfair Dislpay", serif;
    font-weight: 400;
 }

 .section{
 color:khaki;
 font:papyrus;
 visibility: 2px;
 }
 p{
    font-size:2rem;
    font-weight: 400;
    font-style: italic;
    color: cadetblue;
    text-decoration: wavy;
    text-align:left;
    font-family:"Fauna One",serif;
 }
 li{
 font-family:"Fauna One" serif;
 font-size: 2rem;
 }
 a{
 font-family:"Playfair Display", serif;
 font-size: 16px;
 font-weight:900;

 }
