*{background-color: snow;}
h1{background-color:whitesmoke;
    text-align: center;
    font-size:3rem;
    color:plum
 }

 .section{
 color:khaki;
 font:papyrus;
 visibility: 2px;
 }
 p{
    font-size:2rem;
    font-weight: 400;
    font-style: italic;
    color: cadetblue;
    text-decoration: wavy;
    text-align: right;
 }
 .unorderedList{
 font-family: sans-serif;
 font-family: cursive;
 font-size: 2rem;
 }
 a{
 font-family: papyrus;
 font-size: 16px;
 font-weight:900;

 }