*{background-color: lightgoldenrodyellow;}
h1{background-color:#76323f;
    text-align: center;
    font-size:3rem;
    color:#0e0b16;
    font-family:"Playfair Dislpay", serif;
    font-weight: 400;
 }
 .picture{
   text-align: center;
 }

 .section{
 color:khaki;
 font:papyrus;
 visibility: 2px;
 }
 p{
    font-size:2rem;
    font-weight: 400;
    font-style: italic;
    color: slategray;
    text-decoration: wavy;
    text-align:left;
    font-family:"Fauna One",serif;
 }
 li{
 font-family:"Fauna One" serif;
 font-size: 2rem;
 color:#b82601
 }
 a{
 font-family:"Playfair Display", serif;
 font-size: 16px;
 font-weight:900;
 color:#d7cec7

 }
